.nav__hug{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .nav__icons{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
